#main {
   /* overflow: auto; redimensiona a para telas menores*/
    overflow: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.main-container {
    max-width: 36rem;
    text-align: center;
    /*margin: 30px; padding se encaixa melhor*/
    padding: 30px;
}

.main-container h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

.child-info legend {
    color: var(--text-primary);
    text-align: left;
}

.underline-orange {
    text-decoration: underline;
    text-decoration-color: var(--stroke-hightlight);
    text-decoration-thickness: 4px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .2rem;
}

.input-wrapper label {
    font-weight: 500;
    margin-bottom: 0.2rem;
    text-align: left;
    color: #ccc;
}

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon img {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 0.7;
}

.input-icon input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 3rem; /* Espaço pro ícone */
    border: 1px solid var(--stroke-dark);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

/* Erros */
.input-error {
    color: red;
    font-size: .8rem;
    text-align: left;
    display: none;
}

/* ja existe uma classe apenas para os botões 
.btn-primary {
    background-color: lab(43.7% 45.79 51.96); 
    color: #000; 
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 999px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    text-align: center;
}

.btn-primary:hover {
    background-color: #e69500;
}
*/

/* ja existe uma classe no arquivo terms.css 
.terms-wrapper {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    color: #ccc;
    border: 1px solid red;
}

.terms-wrapper a {
    color: #FFA500;
    font-weight: bold;
    text-decoration: none;
}

.terms-wrapper a:hover {
    text-decoration: underline;
}
*/

.toggle-password {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
    font-size: 1.1rem;
}