/* === HEADER/MAIN === */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

/* === LINKS DE FILMES === */
#container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

#container-links {
  max-height: 600px;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: block;
  padding-right: 8px;
}

* {
  scrollbar-width: thin;
  scrollbar-color:  #333 #222;
}

.link-card {
    background-color: #222;
    max-width: 800px;
    height: 82px;
    border-radius: 20px;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    border-left: 4px solid #ff5a00;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 15px;
}


.link-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(249, 115, 22, 0.2);
}

.card-thumb {
  width: 40px;
  height: 40px;
  background-color: #ff5a00;
  border-radius: 8px;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header {
    display: flex;
    text-align: left;
    gap: 12px;
}

.movie-title {
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}

.watch-on {
   color: #111;
    background-color: #ff5a00;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 20px;
    text-transform: lowercase;
}

.watch-on i {
    color: var(--text-tertiary);
}

.movie-link {
    color: #fff;
    word-break: break-word;
    text-decoration: none;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;
}

.movie-link:hover {
    text-decoration: underline;
    color: var(--text-tertiary);
}

.card-actions {
    display: flex;
    align-items: center;
    gap: 18px;
}

.action-btn {
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px;
}

.action-btn:hover {
    transform: scale(1.1);
}

.edit-btn:hover {
    color: #d66000;
}

.delete-btn:hover {
    color: #f91616;
}

.empty-list-message {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

/* === FOOTER/MAIN === */
.footer {
    padding: 1.2rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.btn-container {
    border: 1px solid #222;
    border-radius: 12px;
    width: 12%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* === LOGIN/CADASTRO === */
#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

/* === ASIDE/LEFT === */
#aside-container {
    background-image: url('/public/logo-rebobina.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* === MAIN/RIGHT === */
#main {
    overflow: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.main-container {
    max-width: 36rem;
    text-align: center;
    padding: 30px;
}

