/* === HEADER/MAIN === */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

/* === LINKS DE FILMES === */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}
    

.links-container {
    max-height: 60vh;
}


.link-card {
    background-color: #222;
    width: 800px;
    height: 72px;
    border-radius: 20px;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    border-left: 4px solid #ff5a00;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 15px;
}


.link-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(249, 115, 22, 0.2);
}

.card-thumb {
  width: 40px;
  height: 40px;
  background-color: #ff5a00;
  border-radius: 8px;
}



.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.movie-title {
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}

.links-functions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-on {
   color: #111;
    background-color: #ff5a00;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 20px;
    text-transform: lowercase;
    margin: 10px auto auto 0px;
}

.watch-on i {
    color: var(--text-tertiary);
}

.movie-link {
    color: #fff;
    word-break: break-word;
    text-decoration: none;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;
}

.movie-link:hover {
    text-decoration: underline;
    color: var(--text-tertiary);
}

.card-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.action-btn {
    color: #f97316;
    transition: all 0.3s ease;
    cursor: pointer; 
    padding: 5px;   
}

.action-btn:hover {
    color: #f97316;
    transform: scale(1.1);
}


/* === FOOTER/MAIN === */
.footer {
    padding: 8px;
    margin-top: auto;
}

.users-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.user-btn {
    height: 50%;
    border-radius: 50%;
    color: var(--text-primary);
    transition: all 0.3s ease;
    background-color: var(--btn-color);
}

.user-btn:hover {
    background-color: var(--stroke-hightlight);
    transform: scale(1.1); 
}

/* === LOGIN/CADASTRO === */
#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

/* === ASIDE/LEFT === */
#aside-container {
    background-image: url('/frontend/public/logo-rebobina.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

/* === MAIN/RIGHT === */
#main {
    overflow: auto; /* redimensiona a para telas menores*/
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.main-container {
    max-width: 36rem;
    text-align: center;
    padding: 30px;
}

