/* MOBILE/LOGIN/REGISTER */
@media (max-width: 600px) {
    #aside-container {
        display: none;
    }

    #app {
        display: grid;
        grid-template-columns: 100%;
    }
}

/* MOBILE/MAIN */
@media (max-width: 600px) {
    .section-title {
        font-size: 1.5rem;
    }

    .watch-on,
    .movie-link,
    .card-thumb {
        display: none;
    }

    .modal-content {
        width: 80%;
        padding: 20px;
    }

    .submit-btn {
        width: 85%;
    }

}
