<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebobina</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body data-page="main">
    <div id="container">
        <header class="header">
            <h1 class="section-title">
                <span class="underline-orange">Lin</span>ks
            </h1>
            <button class="btn-add-link" id="openModalBtn">
                <i class="fas fa-plus"></i> Adicionar Link
            </button>
        </header>

        <main id="container-links">
            <!-- CARD 1 -->
            <section class="link-card">
                <div class="card-thumb"></div>
                <div class="card-content">
                    <div class="card-header">
                        <h3 class="movie-title">Batman - O Cavaleiro Das Trevas</h3>
                        <div class="watch-on">
                            <i class="fab fa-amazon"></i> Amazon Prime
                        </div>
                    </div>
                    <a href="https://www.primevideo.com/detail/0L2QVLWQ4Z8H1QZ1JQZJZJZJZJ" class="movie-link"
                        target="_blank">
                        https://www.primevideo.com
                    </a>
                </div>
                <div class="card-actions">
                    <button class="action-btn edit-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button id="delete-btn" class="action-btn delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </section>

            <!-- CARD 2 -->
            <section class="link-card">
                <div class="card-thumb"></div>
                <div class="card-content">
                    <div class="card-header">
                        <h3 class="movie-title">Batman - O Cavaleiro Das Trevas</h3>
                        <div class="watch-on">
                            <i class="fab fa-amazon"></i> Amazon Prime
                        </div>
                    </div>
                    <a href="https://www.primevideo.com/detail/0L2QVLWQ4Z8H1QZ1JQZJZJZJZJ" class="movie-link"
                        target="_blank">
                        https://www.primevideo.com
                    </a>
                </div>
                <div class="card-actions">
                    <button class="action-btn edit-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button id="delete-btn" class="action-btn delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </section>

            <!-- CARD 3 -->
            <section class="link-card">
                <div class="card-thumb"></div>
                <div class="card-content">
                    <div class="card-header">
                        <h3 class="movie-title">Batman - O Cavaleiro Das Trevas</h3>
                        <div class="watch-on">
                            <i class="fab fa-amazon"></i> Amazon Prime
                        </div>
                    </div>
                    <a href="https://www.primevideo.com/detail/0L2QVLWQ4Z8H1QZ1JQZJZJZJZJ" class="movie-link"
                        target="_blank">
                        https://www.primevideo.com
                    </a>
                </div>
                <div class="card-actions">
                    <button class="action-btn edit-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button id="delete-btn" class="action-btn delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </section>
        </main>
    </div>

    <section class="modal" id="addLinkModal">
        <div class="modal-content">
            <span class="close-modal" id="closeModalBtn">&times;</span>
            <h2 class="modal-title">Adicionar Novo Link</h2>
            <form id="addLinkForm">
                <div class="form-group">
                    <label for="movieName">Nome do Filme</label>
                    <input name="movie" type="text" id="movie-name" placeholder="Digite o nome do filme" required>
                </div>
                <button type="button" class="btn-primary submit-btn">Buscar Informações</button>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="btn-container">
            <button class="btn-footer-icon" id="randomizeCardsBtn">
                <i class="fa-solid fa-dice"></i>
            </button>

            <button class="btn-footer-icon" id="accountSettingsBtn">
                <i class="fas fa-user"></i>
            </button>

            <button class="btn-footer-icon" id="logoutBtnFooter">
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
        </div>
    </footer>

    <script type="module" src="../scripts/app.js"></script>
    
</body>

</html>
