button {
    all: unset;
    font-weight: 600;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    color: #000000;
    background-color: var(--btn-color);
    
}

.btn-primary:hover {
    background-color: var(--stroke-hightlight);
    transform: translateY(-2px);
}
