/* para resolver o problema da imagem, optei por colocar a mesma dentro da div por meio do css ao inves do html, achei melhor trabalhar com ID*/
#aside-container {
    background-image: url('/frontend/imagens/rebobina_img1.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

/* depois da adição da imagem diretamento no aside estas classes se tornaram desnecessárias
#aside-container {
    display: flex;
    align-items: center;    
    width: 100%;
    height: 100%;
}

.aside-header img {
    width: 120%;
    height: 100%;    
}

.aside-content {
    max-width: 31rem;
}

.aside-content h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}
*/

@media only screen and (max-width: 600px) {
    #aside-container {
        display: none;
    }

    #app {
        display: flex;
        width: 100vh;
    }
}

@media only screen and (max-width: 800px) {
    #aside-container {
        display: none;
      }

    #app {
        display: flex;
        width: 100vh;
    }
}