:root {
    --background-primary: #0B0E13;
    --btn-primary: #FC771E;
    --text-color: #F8FAFC;
    --link-color: #FF7E25;
    --background-input: #23272F;
    --background-form: #101318;
    --text-form: #949588;
}
